<h1>Listing PDFs</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Created At</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @pdf_savers.each do |pdf_saver| %>
      <tr>
        <td><%= pdf_saver.title %></td>
        <td><%= pdf_saver.created_at %></td>
        <td><%= link_to 'Save', load_pdf_pdf_saver_path(pdf_saver) %></td>
        <td><%= link_to 'Read', read_pdf_pdf_saver_path(pdf_saver)%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


