<div class="container">
  <h1>Edit Group</h1>

  <form role="form">
    <div class="form-group">
      <label class="control-label" for="inputTitle">Title:</label>
      <input type="text" id="inputTitle" class="form-control" required="required" placeholder="Group Title" ng-model="group.group.title"/>
    </div>

    <div class="control-group">
      <div class="controls">
        <a ng-click="updateGroup()" class="btn btn-success">Update Group</a>
        <a ng-click="back()" class="btn btn-default">Back</a>
      </div>
    </div>
  </form>
</div>
