<div class="container">
  <h1>Edit Group</h1>

  <form name="form">
    <div class="form-group" ng-class="errorClass('title')">
      <label class="control-label" for="title">Title:</label>
      <div class="controls">
        <input type="text" name="title" class="form-control" required placeholder="Group Title" ng-model="group.group.title" autofocus/>
        <span class="help-block" ng-show="form.title.$invalid && form.title.$dirty">
          {{errorMessage('title')}}
        </span>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <a ng-click="updateGroup()" class="btn btn-success">Update Group</a>
        <a ng-click="back()" class="btn btn-default">Back</a>
      </div>
    </div>
  </form>
</div>
