<div class="container">
  <h1>New Group</h1>

<!--   <p>{{response}}</p> -->
  <form name="form">
    <div class="form-group" ng-class="errorClass('title')">
      <label class="control-label" for="title">Title:</label>
      <div class="controls">
        <input type="text" name="title" class="form-control" required placeholder="Group Title" ng-model="group.title" autofocus/>
        <span class="help-block" ng-show="form.title.$invalid && form.title.$dirty">
          {{errorMessage('title')}}
        </span>
    </div>
      <!-- <input type="text" name="title" class="form-control" required placeholder="Group Title" ng-model="group.title" autofocus/> -->

      <!-- <div ng-messages="form.title.$error" style="color:maroon" role="alert">
        <div ng-message="required">You did not enter a title</div>
      </div> -->
    </div>

    <div class="control-group">
      <div class="controls">
        <a ng-click="createNewGroup()" class="btn btn-success">Create Group</a>
        <a ng-click="back()" class="btn btn-default">Back</a>
      </div>
    </div>
  </form>
</div>
