<div class="container">
    <h1>New Student</h1>

    <form novalidate="novalidate" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="inputName">Name:</label>
            <div class="controls">
                <input type="text" id="inputName" ng-model="student.name"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="inputSurname">Surname:</label>
            <div class="controls">
                <input type="text" id="inputSurname" ng-model="student.surname"/>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <a ng-click="back()" class="btn btn-small">Back</a>
                <a ng-click="createNewStudent()" class="btn btn-small btn-primary">Create Student</a>
            </div>
        </div>
    </form>
</div>
