<div class="container">
  <h1>New Student</h1>

  <form name="form">
    <div class="control-group" ng-class="errorClass('name')">
      <label class="control-label" for="name">Name</label>
      <div class="controls">
        <input ng-model="student.name" type="text" name="name" placeholder="Name" required>
        <span class="help-block" ng-show="form.name.$invalid && form.name.$dirty">
          {{errorMessage('name')}}
        </span>
      </div>
    </div>

    <div class="control-group" ng-class="errorClass('surname')">
      <label class="control-label" for="surname">Surname</label>
      <div class="controls">
        <input ng-model="student.surname" type="text" name="surname" placeholder="Surname" required>
        <span class="help-block" ng-show="form.surname.$invalid && form.surname.$dirty">
          {{errorMessage('surname')}}
        </span>
      </div>
    </div>

    <div class="form-group" ng-class="errorClass('group_id')">
      <label class="control-label" for="group_id">Group</label>
      <div class="controls">
        <select ng-options="group.key as group.value[0] for group in groups"  ng-model="student.group_id" name="group_id" required/>
        <span class="help-block" ng-show="form.group_id.$invalid && form.group_id.$dirty">
          {{errorMessage('group_id')}}
        </span>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <a ng-click="createNewStudent()" class="btn btn-success">Create Student</a>
        <a ng-click="back()" class="btn btn-default">Back</a>
      </div>
    </div>
  </form>
</div>
