<div class = 'container'>
  <h3>All Students</h3>

  <table class="table">
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Group</th>
      <th colspan="3"></th>
    </tr>
    <tr ng-repeat="st in students">
      <td>{{st.name}}</td>
      <td>{{st.surname}}</td>
      <td>{{st.group_id}}</td>
      <td><a class="btn btn-primary"  ng-click="showStudent(st._id)">Show</a></td>
      <td><a class="btn btn-primary"  ng-click="editStudent(st._id)">Edit</a></td>
      <td><a class="btn btn-danger"  ng-click="deleteStudent(st._id)">Delete</a></td>
    </tr>
  </table>
  <a class="btn btn-success"  ng-click="createStudent()">Create Student</a>
</div>
